* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  height: 100vh; 
}
.todoBody{
  background-image: linear-gradient(to right top, #001b44, #00296d, #003799, #0043c6, #004ff3);
  min-height: 100%;
}
header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #003799;
  color: #ff6f47;
}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 5px;
  box-shadow:  -25px 0px 49px #00225f,
             25px 25px 49px #004cd3;
}
.todo li {
  flex: 1;
}
.trash-btn,.complete-btn {
  background: #003799;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(10rem) rotateZ(0deg);
  opacity: 0;
}
/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #003799;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  padding: 1rem;
  font-size: 1rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.95rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
.select:hover::after{
  background: #003799;
  color: #ff6f47;
}
.author{
  bottom: 0;
  position: fixed;
  width: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color:#ff6f47;
}
p{
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:900px) {
  header {
    font-size: 1rem;
  }
  form{
    flex-direction: column;
  }
  .left-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-box{
    display: flex;
  }
  form input{
    width: 70%;
  }
}